.food-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.search-btn {
  width: 75%;
  margin: auto;
}
.card-design {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.add-item {
  padding: 3px;
  margin: 3px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .card-design {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .add-item {
    width: auto;
    position: relative;
  }
  .food-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bg-img {
  background-image: url(../Images/svg-imd.svg);
}
